.button {
    background-color: rgb(92, 165, 233);
    display:inline-block;
    padding:7px 20px;
    margin: 0 4px;
    border:0.16em solid rgba(255,255,255,0);
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}
.button:hover {
    border-color: white;
}
@media all and (max-width: 30em) {
    .button{
        display: block;
        margin: 0.2em auto;
    }
}

